# Cấu hình Airflow 2.10.2 (Stable) cho Minikube
executor: LocalExecutor

# Bật Webserver
webserver:
  enabled: true
  replicas: 1
  service:
    type: ClusterIP
    ports:
      - name: airflow-ui
        port: 8080

# Tắt bớt các thành phần phụ cho nhẹ máy
statsd: { enabled: false }
triggerer: { enabled: false }
redis: { enabled: false }

# Kết nối Spark (giữ nguyên cấu hình của bạn)
env:
  - name: AIRFLOW_CONN_SPARK_DEFAULT
    value: "spark://spark-cluster-master.default.svc.cluster.local:7077"

# Cấp quyền K8s
serviceAccount:
  create: true
  name: "airflow-worker"