apiVersion: v1
kind: Service
metadata:
  name: weather-minio
spec:
  ports:
    - port: 9000
      name: api
      targetPort: 9000
    - port: 9001
      name: console
      targetPort: 9001
  selector:
    app: weather-minio
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: weather-minio
spec:
  selector:
    matchLabels:
      app: weather-minio
  template:
    metadata:
      labels:
        app: weather-minio
    spec:
      containers:
      - name: minio
        image: minio/minio:latest
        imagePullPolicy: IfNotPresent
        args:
        - server
        - /data
        - --console-address
        - :9001
        env:
        - name: MINIO_ROOT_USER
          value: "admin"
        - name: MINIO_ROOT_PASSWORD
          value: "password123"
        ports:
        - containerPort: 9000
        - containerPort: 9001